@model SellFootWear.Models.Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<script src="~/ckeditor/ckeditor.js"></script>
@using (Html.BeginForm("Create", "Product", FormMethod.Post, new
{
    @enctype = "multipart/form-data"
}))
{
    <div class="col-md-12">
        @*@using (Html.BeginForm())
            {*@
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4>Thêm sản phẩm mới</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-10">
                    Tên sản phẩm:
                    <input type="text" size="70" name="sNameProduct" value="@ViewBag.NameProduct"
                           required />
                </div>
            </div>
            <div class="row" style="margin-top: 30px">
                <div class="form-group col-3">

                    <div class="col-md-10">
                        Loại:
                        @Html.DropDownList("TypeID")
                    </div>
                </div>
                <div class="form-group col-4">

                    <div class="col-md-10">
                        Thương hiệu:
                        @Html.DropDownList("BrandID")
                    </div>
                </div>
                <div class="form-group col-5">

                    <div class="col-md-7">
                        Giá:
                        <input type="number" min="1" required name="price"
                               value="@ViewBag.price" />
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="form-group col-3">

                    <div class="col-md-10">
                        <div class="checkbox">
                            Giảm giá:
                            @Html.EditorFor(model => model.Discount)
                            @Html.ValidationMessageFor(model => model.Discount, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-4">

                    <div class="col-md-10">
                        Giá giảm:
                        <input type="number" min="1" required name="pricediscount"
                               value="@ViewBag.pricediscount" />
                    </div>
                </div>
                <div class="form-group col-5">

                    <div class="col-md-10">
                        Ngày cập nhật:
                        @*@Html.EditorFor(model => model.UpdateDay, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UpdateDay, "", new { @class = "text-danger" })*@
                        <input type="date" name="UpdateDay" required />
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="form-group col-3">

                    <p class="control-label col-md-10">Ảnh đại diện:</p>
                    <div class="col-md-10">
                        <input type="file" name="fFileUpload" />
                        <p style="color: red">@ViewBag.noti</p>
                    </div>
                </div>
                <div class="form-group col-4">
                    <p class="control-label col-md-10">Hình ảnh 1:</p>
                    <div class="col-md-10">
                        <input type="file" name="fFileUpload1" />
                        <p style="color: red">@ViewBag.noti</p>
                    </div>
                </div>
                <div class="form-group col-5">
                    <p class="control-label col-md-10">Hình ảnh 2:</p>
                    <div class="col-md-10">
                        <input type="file" name="fFileUpload2" />
                        <p style="color: red">@ViewBag.noti</p>
                    </div>
                </div>
            </div>
            <div class="form-group" style=" margin-top: 10px;">
                <div class="col-md-12 note-editor note-frame " style="background-color: #EEEEEE ">
                    Mô tả ngắn:
                    <textarea name="describeshort">@ViewBag.describeshort</textarea>  
                    <script>CKEDITOR.replace('describeshort');</script>
                </div>
            </div>
            <div class="form-group" style=" margin-top: 25px;">
                <div class="col-md-12 note-editor note-frame" style="background-color: #EEEEEE ">
                    Mô tả dài:
                    <textarea name="describe">@ViewBag.describe</textarea>
                    <script>CKEDITOR.replace('describe');</script>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>



    </div>
}

<div style=" margin-left: 12px;">
    <a class="btn btn-secondary" href="@Url.Action( "Index")">
        Back to list
    </a>
</div>