@model SellFootWear.Models.Customer

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Start Header Area -->
<header class="header_area sticky-header">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light main_box">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="index.html"><img src="~/Content/img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                  <ul class="nav navbar-nav menu_nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                    <!--<li class="nav-item submenu dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Shop</a>
                        <ul class="dropdown-menu">
                            <li class="nav-item  "><a class="nav-link" href="~/Product/Shop">Giày</a></li>
                            <li class="nav-item"><a class="nav-link" href="~/Product/Shop2">Dép</a></li>
                        </ul>
                    </li>-->
                    <li class="nav-item"><a class="nav-link" href="~/Product/Shop">Shop</a></li>
                    <li class="nav-item"><a class="nav-link" href="~/Contact/ContactIndex">Liên hệ</a></li>
                    <li class="nav-item submenu dropdown active">
                      <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                         aria-expanded="false">Tài khoản</a>
                      <ul class="dropdown-menu">
                        @if (Session["UserName"] != null)
                        {
                          @Session["CustomName"];
                          <li class="nav-item"><a class="nav-link" href="~/User/Logout">Đăng xuất</a></li>
                        }
                        else
                        {
                          <li class="nav-item"><a class="nav-link" href="~/User/Login">Đăng nhập</a></li>
                          <li class="nav-item"><a class="nav-link" href="~/User/Register">Đăng kí</a></li>
                        }
                      </ul>
                    </li>

                  </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @Html.Action("CartPartial", "Cart")
                        <li class="nav-item">
                            <button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="search_input" id="search_input_box">
        <div class="container">
            <form class="d-flex justify-content-between">
                <input type="text" class="form-control" id="search_input" placeholder="Search Here">
                <button type="submit" class="btn"></button>
                <span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
            </form>
        </div>
    </div>
</header>
<!-- End Header Area -->
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Login/Register</h1>
                <nav class="d-flex align-items-center">
                    <a href="@Url.Action("Index", "Home")">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="">Login/Register</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="~/Content/img/login.jpg" alt="">
                    <div class="hover">
                        <h4>Đăng ký tài khoản</h4>
                        <p>Nếu bạn chưa có tài khoản thì đăng ký tại đây!</p> 
                        <a class="primary-btn" href="~/User/Register">Tạo tài khoản</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Đăng nhập</h3>
                    <form class="row login_form" action="~/User/Login" method="post">
                        <span style="color:red"> @ViewBag.Notice</span>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="name" name="UserName" placeholder="Username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" id="name" name="Password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="creat_account">
                                <input type="checkbox" id="f-option2" name="selector">
                                <label for="f-option2">Keep me logged in</label>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            @*<button type="submit" value="submit" class="primary-btn">Log In</button>*@
                            <input type="submit" value="Đăng nhập" class="primary-btn" />
                            <a href="#">Forgot Password?</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->
