@model SellFootWear.Models.Customer

@{
  ViewBag.Title = "Register";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<header class="header_area sticky-header">
  <div class="main_menu">
    <nav class="navbar navbar-expand-lg navbar-light main_box">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a class="navbar-brand logo_h" href="index.html"><img src="~/Content/img/logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
          <ul class="nav navbar-nav menu_nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Home")">Trang chủ</a></li>
            <!--<li class="nav-item submenu dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                 aria-expanded="false">Shop</a>
              <ul class="dropdown-menu">
                  <li class="nav-item  "><a class="nav-link" href="~/Product/Shop">Giày</a></li>
                  <li class="nav-item"><a class="nav-link" href="~/Product/Shop2">Dép</a></li>
              </ul>
          </li>-->
            <li class="nav-item"><a class="nav-link" href="~/Product/Shop">Shop</a></li>
            <li class="nav-item"><a class="nav-link" href="~/Contact/ContactIndex">Liên hệ</a></li>
            @if (Session["UserName"] != null)
            {
              <li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false"><img src="~/Content/img/banner/User.png" style="width:23px" />@Session["UserName"]</a>
                  <ul class="dropdown-menu">
                    <li class="nav-item"><a class="nav-link" href="~/User/Logout">Đăng xuất</a></li>
                  </ul>
                </li>
              }
              else
              {
                <li class="nav-item submenu dropdown active">
                  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                     aria-expanded="false">Tài khoản</a>
                  <ul class="dropdown-menu">

                    <li class="nav-item"><a class="nav-link" href="~/User/Login">Đăng nhập</a></li>
                    <li class="nav-item"><a class="nav-link" href="~/User/Login">Đăng kí</a></li>

                  </ul>
                </li>
              }
          </ul>
          <ul class="nav navbar-nav navbar-right">
            @Html.Action("CartPartial", "Cart")
            <li class="nav-item">
              <button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="search_input" id="search_input_box">
    <div class="container">
      <form class="d-flex justify-content-between">
        <input type="text" class="form-control" id="search_input" placeholder="Search Here">
        <button type="submit" class="btn"></button>
        <span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
      </form>
    </div>
  </div>
</header>
<!-- End Header Area -->
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
  <div class="container">
    <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
      <div class="col-first">
        <h1>Login/Register</h1>
        <nav class="d-flex align-items-center">
          <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
          <a href="category.html">Login/Register</a>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- End Banner Area -->
<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
<section class="login_box_area section_gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="login_box_img">
          <img class="img-fluid" src="~/Content/img/login.jpg" alt="">
          <div class="hover">
            <h4>Đăng nhập</h4>
            <a class="primary-btn" href="~/User/Login">Đăng nhập</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="login_form_inner">
          <h3>Đăng Kí</h3>
          @using (Html.BeginForm("Register", "User"))
          {
              @Html.ValidationSummary(true)
              <div class="panel-body ">
                  <div class="col-md-12 form-group">
                    <label for="usr">Họ và tên:</label>
                    <input type="text" class="form-control" name="CustomName" />
                    <div style="color:red">@ViewData["err1"]</div>
                  </div>
                  <div class="col-md-12 form-group">
                    <label for="usr">Tên đăng nhập:</label>
                    <input type="text" class="form-control" name="UserName" />
                    <div style="color:red">@ViewData["err2"]</div>
                  </div>
                  <div class="col-md-12 form-group">
                    <label for="pwd">Mật khẩu:</label>
                    <input type="password" class="form-control" name="Password">
                    <div style="color:red">@ViewData["err3"]</div>
                  </div>
                  <div class="col-md-12 form-group">
                    <label for="confirmation_pwd">Nhập lại mật khẩu:</label>
                    <input type="password" class="form-control" name="PasswordAgin">
                    <div style="color:red">@ViewData["err4"]</div>
                  </div>
                  <div class="col-md-12 form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" name="Email">
                    <div style="color:red">@ViewData["err5"]</div>
                  </div>
                  <div class="col-md-12 form-group">
                    <label>Số điện thoại:</label>
                    <input class="form-control" name="PhoneNumber">
                    <div style="color:red">@ViewData["err6"]</div>
                  </div>
                  <div class="col-md-12 form-group">
                    <label for="birthday">Ngày sinh:</label>
                    <input type="date" class="form-control" name="Daybirth">
                  </div>
                  <div class="col-md-12 form-group">
                    <label for="address">Địa chỉ:</label>
                    <input type="text" class="form-control" name="Address">
                  </div>
                  <div class="col-md-12 form-group">
                    <input type="submit" value="Đăng ký" class="primary-btn" style="margin-bottom: 20px; margin-top: 5px; font-size: 1rem" />
                  </div>
              </div>
            }
        </div>
      </div>
    </div>
  </div>
</section>
<style>
    label{
      display: flex;
    }
    .panel-body {
      margin: 12px;
    }
    .login_form_inner h3 {
      margin-top: -86px;
    }
    .primary-btn {
      border-radius: 0px;
      border: none;
    }
  .login_box_area .login_box_img {
    position: sticky;
    top: 0;
  }
</style>
