@model List<SellFootWear.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_headIndex")

<section class="features-area section_gap">

    <div class="container">
        <div class="row features-inner">
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/Content/img/features/f-icon1.png" alt="">
                    </div>
                    <h6>Giao hàng miễn phí</h6>
                    <p>Miễn phí vận chuyển tất cả đơn hàng</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/Content/img/features/f-icon2.png" alt="">
                    </div>
                    <h6>Chính sách hoàn trả</h6>
                    <p>Đổi trả hàng khi đủ điều kiện</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/Content/img/features/f-icon3.png" alt="">
                    </div>
                    <h6>Hỗ trợ 24/7</h6>
                    <p>Hotline: 1900 63 6641</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/Content/img/features/f-icon4.png" alt="">
                    </div>
                    <h6>Thanh toán</h6>
                    <p>Thanh toán nhanh, tiện lợi.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end features Area -->
<!-- Start category Area -->
<section class="category-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="~/Content/img/category/c1.jpg" alt="">
                            <a href="~/Content/img/category/c1.jpg" class="img-pop-up" target="_blank">
                                <div class="deal-details">
                                    <h6 class="deal-title">Sneaker for Sports</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="~/Content/img/category/c2.jpg" alt="">
                            <a href="~/Content/img/category/c2.jpg" class="img-pop-up" target="_blank">
                                <div class="deal-details">
                                    <h6 class="deal-title">Sneaker for Sports</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="~/Content/img/category/c3.jpg" alt="">
                            <a href="~/Content/img/category/c3.jpg" class="img-pop-up" target="_blank">
                                <div class="deal-details">
                                    <h6 class="deal-title">Product for Couple</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="~/Content/img/category/c4.jpg" alt="">
                            <a href="~/Content/img/category/c4.jpg" class="img-pop-up" target="_blank">
                                <div class="deal-details">
                                    <h6 class="deal-title">Sneaker for Sports</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-deal">
                    <div class="overlay"></div>
                    <img class="img-fluid w-100" src="~/Content/img/category/c5.jpg" alt="">
                    <a href="~/Content/img/category/c5.jpg" class="img-pop-up" target="_blank">
                        <div class="deal-details">
                            <h6 class="deal-title">Sneaker for Sports</h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End category Area -->
<!-- start product Area -->
<section class="owl-carousel active-product-area section_gap">
    <!-- single product slide -->
    <div class="single-product-slider">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h1>Dép bán chạy</h1>
                        <p style="color: #ffba01">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore
                            magna aliqua.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- single product -->
                @foreach (var item in Model.Where(n => n.TypeID == 2).Take(8))
                {
                    <div class="col-lg-3 col-md-6">
                        <div class="single-product">
                            <img class="img-fluid" src="~/Content/img/product/@item.image" alt="">
                            <div class="product-details">
                                <h6>
                                    @item.NameProduct
                                </h6>
                                <div class="price">
                                    <h6 style="color: #ffba01">@string.Format("{0:#,##0,0}", @item.price) VNĐ</h6>
                                    @*<h6 class="l-through">$210.00</h6>*@
                                </div>
                                <div class="prd-bottom">
                                    <a href="@Url.Action("AddToCart","Cart", new { ms = item.pID, url = Request.Url.ToString() })" class="social-info">
                                        <span class="ti-bag"></span>
                                        <p class="hover-text">Mua hàng</p>
                                    </a>
                                    <a href="@Url.Action("Detail", "Product", new {Id = item.pID})" class="social-info">
                                        <span class="lnr lnr-move"></span>
                                        <p class="hover-text">Xem chi tiết</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
    </div>
    <!-- single product slide -->
    <div class="single-product-slider">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h1>Giày bán chạy</h1>
                        <p style="color: #ffba01">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore
                            magna aliqua.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- single product -->
                @foreach (var item in Model.Where(n=>n.TypeID == 1).Take(8))
                {
                    <div class="col-lg-3 col-md-6">
                        <div class="single-product">
                            <img class="img-fluid" src="~/Content/img/product/@item.image" alt="">
                            <div class="product-details">
                                <h6>
                                    @item.NameProduct
                                </h6>
                                <div class="price">
                                    <h6 style="color: #ffba01">@string.Format("{0:#,##0,0}", @item.price) VNĐ</h6>
                                    @*<h6 class="l-through">$210.00</h6>*@
                                </div>
                                <div class="prd-bottom">

                                    <a href="@Url.Action("AddToCart","Cart", new { ms = item.pID, url = Request.Url.ToString() })" class="social-info">
                                        <span class="ti-bag"></span>
                                        <p class="hover-text">Mua hàng</p>
                                    </a>
                                   
                                    <a href="@Url.Action("Detail", "Product", new {Id = item.pID})" class="social-info">
                                        <span class="lnr lnr-move"></span>
                                        <p class="hover-text">Xem chi tiết</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- end product Area -->
<!-- Start exclusive deal Area -->
<section class="exclusive-deal-area">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6 no-padding exclusive-left">
                <div class="row clock_sec clockdiv" id="clockdiv">
                    <div class="col-lg-12">
                        <h1>Ưu đãi độc quyền sẽ sớm kết thúc!</h1>
                        <p>Who are in extremely love with eco friendly system.</p>
                    </div>
                    <div class="col-lg-12">
                        <div class="row clock-wrap">
                            <div class="col clockinner1 clockinner">
                                <h1 class="days">4</h1>
                                <span class="smalltext">Days</span>
                            </div>
                            <div class="col clockinner clockinner1">
                                <h1 class="hours">23</h1>
                                <span class="smalltext">Hours</span>
                            </div>
                            <div class="col clockinner clockinner1">
                                <h1 class="minutes">47</h1>
                                <span class="smalltext">Mins</span>
                            </div>
                            <div class="col clockinner clockinner1">
                                <h1 class="seconds">59</h1>
                                <span class="smalltext">Secs</span>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="" class="primary-btn">Shop Now</a>
            </div>
            <div class="col-lg-6 no-padding exclusive-right">
                <div class="active-exclusive-product-slider">
                    <!-- single exclusive carousel -->
                    @foreach (var item in Model.Where(n=>n.Discount == true))
                    {
                        <div class="single-exclusive-slider">
                            <img class="img-fluid" src="~/Content/img/product/@item.image" alt="">
                            <div class="product-details">
                                <div class="price" style="margin-top:20px">
                                    <h6 style="color: #ffba01">@string.Format("{0:#,##0,0}", @item.pricediscount) VNĐ</h6>
                                    <h6 class="l-through">@string.Format("{0:#,##0,0}", @item.price) VNĐ</h6>
                                </div>
                                <h4>
                                    @item.NameProduct
                                </h4>
                                <div class="add-bag d-flex align-items-center justify-content-center">
                                    <a class="add-btn" href="@Url.Action("AddToCart","Cart", new { ms = item.pID, url = Request.Url.ToString() })"><span class="ti-bag"></span></a>
                                    <span class="add-text text-uppercase">Mua hàng</span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End exclusive deal Area -->
<!-- Start brand Area -->
<section class="brand-area section_gap">
    <div class="container">
        <div class="row">
            <a class="col single-img" href="#">
                <img class="img-fluid d-block mx-auto" src="~/Content/img/brand/1.png" alt="">
            </a>
            <a class="col single-img" href="#">
                <img class="img-fluid d-block mx-auto" src="~/Content/img/brand/2.png" alt="">
            </a>
            <a class="col single-img" href="#">
                <img class="img-fluid d-block mx-auto" src="~/Content/img/brand/3.png" alt="">
            </a>
            <a class="col single-img" href="#">
                <img class="img-fluid d-block mx-auto" src="~/Content/img/brand/4.png" alt="">
            </a>
            <a class="col single-img" href="#">
                <img class="img-fluid d-block mx-auto" src="~/Content/img/brand/5.png" alt="">
            </a>
        </div>
    </div>
</section>
<!-- End brand Area -->
<style>
    .deal-details:hover {
        color: orange;
    }
    
</style>